@font-face {
	font-family: "Pixeled";
	src: url("fonts/Pixeled.ttf");
}

body {
    text-align: center;
    background: url(../images/background.svg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    font-family: "Pixeled";
    color: #c84513;
}

canvas {
    margin-top: -3em;
}

button {
    border: 200px;
}

button:hover {
    -webkit-transform: scale(1.10);
    transform: scale(1.10);
    cursor: pointer;
}

button:focus {
    outline: none;
}

.modal,
.player-selection {
    width: 505px;
    height: 3.5em;
    background-color: #ff9400;;
    box-shadow: 2px 23px 15px 0 rgb(46, 61, 73);
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 25em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transform: translate(-50%, -50%);
}

.container {
	width: 100%;
	margin-top: -3%;
    display: flex;
    justify-content: center;
}	

.modal-body,
.player-selection-body {
	font-family: "Pixeled";
	color: white;
    font-size: 1.8em;
    padding-right: 4%;
}

.icon-svg {
    display: block;
    width: 9%;
    background-size: contain;
    margin-top: 1.5%;
}

.replay {
    background: url('../images/icons/replay.svg') no-repeat center center;
}

#victory-modal {
    display: none;
}

.player-selection-body {
    font-size: 1em;
    margin-top: 1.2em;
    display: flex;
    justify-content: center;
}

.left-arrow {
    background: url('../images/icons/left-arrow.svg') no-repeat center center;
}

.right-arrow {
    background: url('../images/icons/right-arrow.svg') no-repeat center center;
}

.selection {
    display: flex;
    justify-content: center;
    height: 2em;
    margin-top: 3.5em;
}

.player-container {
    width: 100%;
    margin-top: -3%;
}

.characters {
    display: flex;
    align-items: center;
}

.characters img {
    width: 12em;
    height: 12em;
}

.characters img[data-index="2"],
.characters img[data-index="3"] {
    display: none;
}

.characters button {
    background: none;
}

.player-selection {
    height: 13em;
}