@font-face {
	font-family: "Pixeled";
	src: url("fonts/Pixeled.ttf");
}

body {
    text-align: center;
}

.modal {
    width: 505px;
    height: 3.5em;
    background-color: #b63a0c;
    box-shadow: 2px 23px 15px 0 rgb(46, 61, 73);
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 20em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transform: translate(-50%, -50%);
}

.container {
	width: 100%;
	margin-top: -3%;
    display: flex;
    justify-content: center;
}	

.modal-body {
	font-family: "Pixeled";
	color: white;
    font-size: 1.8em;
    padding-right: 4%;
}

.icon-svg {
    display: block;
    width: 9%;
}

.replay {
    background: url('../images/icons/replay.svg') no-repeat center center;
    background-size: contain;
    margin-top: 1.5%;
}

#victory-modal {
    display: none;
}

button {
	border: 200px;
}

button:hover {
  	-webkit-transform: scale(1.10);
    transform: scale(1.10);
    cursor: pointer;
}

button:focus {
	outline: none;
}